services:
  djangoapi:
    container_name: djangoapi
    build:
      context: .
    ports:
      - 8000:8000
    volumes:
      - ./djangoapi:/djangoapi
    env_file:
      - ./dotenv_files/.env
    depends_on:
      - psql

  psql:
    container_name: psql
    image: postgres:15-alpine
    volumes:
      - ./data/postgres/data:/var/lib/postgresql/data/
    env_file:
      - ./dotenv_files/.env
