services:
  djangoapi:
    build: .
    restart: always
    ports:
      - 8000:8000
    volumes:
      - ./djangoapi:/djangoapi
    env_file:
      - ./dotenv_files/.env
    depends_on:
      - psql

  psql:
    image: postgres:15-alpine
    ports:
      - 5432:5432
    volumes:
      - ./data/postgres/data:/var/lib/postgresql/data/
    env_file:
      - ./dotenv_files/.env
