SECRET_KEY="CHANGE-ME"

# 0 False, 1 True
DEBUG="1"

ALLOWED_HOSTS="127.0.0.1, localhost"

DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=CHANGE-ME
POSTGRES_USER=CHANGE-ME
POSTGRES_PASSWORD=CHANGE-ME
POSTGRES_HOST=localhost
POSTGRES_PORT=5432


DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@lacrei.com
DJANGO_SUPERUSER_PASSWORD=sua_senha_segura
